body{
  background-color: #eee
}

.calculator {
  width: 286px;
  height: 350px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  background-color: #00c6ff;
}

h1 {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

.buttons {
  text-align: center;
}

.btn {
  width: 65px;
  margin: 2px;
  float: left;
}

.btn-block {
   width: 134px;
}
